  
  .box {
  text-align: center;
  }

  .button {
  height:30px;
  width: 180px;
  font-size:24px;
  font-family:'brandon_bold', Brandon Grotesque, Helvetica, Arial, sans-serif;
  font-weight:normal;
  padding: 10px;
  color: #3c4656;
  border: 2px solid #3c4656;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-out;
  }
  .button:hover {
  background: #3c4656; 
   color: white;
   border: 2px solid white;
  } 
 
  .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;

  }
  .overlay:target {
  visibility: visible;
  opacity: 1;
  }

  .rounder {
  margin: 35px auto;
  padding:  20px;
  background: #fff;
  border-radius: 3px;
  width: 750px;
  position: relative;
  transition: all 5s ease-in-out;
  }

  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 1px;
    right: 1px;
    opacity: 0.8;
    transition: all 50ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    }
  .close:hover {
   color: #b32525;
  }
  .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }
  .cancel:target {
    visibility: visible;
    opacity: 1;
  }
  .nb {border:none;}


* {
  margin: 0;
  padding: 0;
}
body {
  color: white;
}
h1,
h2,
h3,
h4,
h5{
  font-weight: 500;
}
@keyframes popup {
  from {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.welcome-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: #2a3240;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fade-up {
  opacity: 0;
  animation: fade-up 1s forwards cubic-bezier(.2, 2, .4, 1);
}
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
  color: white;
  animation-delay: 1s;
  transition: all .15s;
  cursor: pointer;
}
.welcome {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
    
  h1.fade-up {
    font-weight: 300;
    font-size: 40px;
    animation-delay: .25s;
  }
  
  h2.fade-up {
    font-weight: 400;
    color: rgba(255, 255, 255, .5);
    animation-delay: .5s;
  }
  
  a.fade-up {
    color: rgba(255, 255, 255, .5);
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    animation-delay: .75s;
  }
  
  .btn.fade-up {
    background-color: rgba(255, 255, 255, .2);
    color: white;
    margin-top: 60px;
    }
  .btn:hover {
      background-color: rgba(255, 255, 255, .3);
    }
  
@keyframes fade-up {
  from {
    transform: translateY(80px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
  
  
